<!DOCTYPE html>
<html>
<head>
<style>

</style>
	<title>Welcome to HydraPC||</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	
</head>

<body bgcolor="black">
<nav>
    <div class="nav-wrapper black darken-4" >
    <ul class="list-inline">
  <li><a class="light green-text text-darken-5" href="home.html">Home</a></li>
  <li><a class="light green-text text-darken-5" href="comp.html">Components</a></li>
  <li><a class="light green-text text-darken-5" href="per.html">Peripherals</a></li>

</ul>
    
     
    </div>
    </ul>
    </ul>
  </nav>

	
    <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.shximai.com/data/out/131/67255248-motherboard-wallpapers.jpg"> <!-- random image -->
        <div class="caption center-align">
        </div>
      </li>
      <li>
        <img src="http://wallpapercave.com/wp/I9X8R75.jpg"> <!-- random image -->
        <div class="caption right-align">
        </div>
      </li>
      <li>
        <img src="https://i.redd.it/8jhhup97bl3y.png"> <!-- random image -->
        <div class="caption left-align">
        </div>
      </li>
      <li>
        <img src="https://insider.razerzone.com/index.php?attachments/644/"> <!-- random image -->
        <div class="caption center-align">
        </div>
      </li>
    </ul>
  </div>
      
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel black lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="http://i.imgur.com/u5IBgHE.png"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="green-text">
              <font size = "10">Welcome User!</font>
              <br>
               Want to check the price of the specific peripheral and component? Want to build your own wonderful rig? Our website
               <br>
               is a guide to ya'll, users. The prices are legit, the compatibility of the components and so much more. 
               <br>
          		Please enjoy navigating.. 
              </span>
            </div>
          </div>
        </div>
      </div>

	

	<footer  class="caption center-align" class="container-fluid text-center">
	<font size ="2">
  <p class="light white-text text-lighten-3"><i>Copyright © 2017 www.hydrapc.com All Rights Reserved</i>
  <br>
  <i>Reproduction in whole or in part in any form or medium without express written permission of www.hydrapc.com is prohibited.</i>
  <br class="captio center-align">
  About us || Contact || Privacy Policy ||
 </p>
  <br>
</footer>
	

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script type="text/javascript" src="js/materialize.min.js"></script>




<script>
	$(document).ready(function(){
  $('.parallax').parallax();
});

  </script>

  <script>
  	$(document).ready(function(){
    $('ul.tabs').tabs();
  });
        
  </script>

  <script>
  	 $(document).ready(function(){
      $('.slider').slider();
    });
        
  </script>



  
</body>
</html>