<!DOCTYPE html>
<html>
<head>
<style>
	
</style>
<title>Home</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	
</head>
<body>
<body bgcolor="black">
<div class ="black"></div>
	 <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/00/Razer_Snake_Logo.svg/1013px-Razer_Snake_Logo.svg.png"></a>
    <a class="carousel-item" href="#two!"><img src="http://i.imgur.com/u2Tkfo5.png"></a>
    <a class="carousel-item" href="#three!"><img src="http://i.imgur.com/3N77pz7.png"></a>
    <a class="carousel-item" href="#four!"><img src="http://i.imgur.com/IxDG0Ya.png"></a>
    <a class="carousel-item" href="#five!"><img src="http://i.imgur.com/unSYi9O.png"></a>
  </div>
  <div align="center" bgcolor="black">
  	<a class="green-text text-darken-3 lighten-3" href="home.html" role="button">HOME</a>
  </div>
  

  

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script type="text/javascript" src="js/materialize.min.js"></script>



  <script>
  		$('.carousel').carousel('next');
$('.carousel').carousel('next', 3);
$('.carousel').carousel('prev');
$('.carousel').carousel('prev', 4); 
$('.carousel').carousel('set', 4);
  	</script>

<script>
	$(document).ready(function(){
      $('.carousel').carousel();
    });
</script>


  
  	

 

</body>
</html>